(function(V,$){
	V.config = {};
	C = V.config;
	C.Config=function(){
		var _ = this;
		_.data = {};
		_.getValue = function(key){return _.data[key];};
		_.setValue = function(key,value){ _.data[key] = value;};
		_.merge = function(config){
			_.data = V.merge(_.data,config.data);
		};
	};
	C.ConfigManager = function(){
		var _ = this;
		_.data = {};
		_.getConfig = function(key){
			if(!V.isEnable(_.data[key])){
				_.data[key]=new C.ProxyConfig(_,key);
			}
			return _.data
		};
		_.getConfigValue = function(config,key){};
		_.setConfigValue = function(config,key,value){};
		_.dispose = function(){};
	};
	C.ProxyConfig = function(config,confkey){
		var _ = this;
		V.inhert(c.Config,[]);
		_.getValue = function(key){return config.getConfigValue(confkey,key);};
		_.setValue = function(key,value){return config.setConfigValue(confkey,key,value);};
		_.merge = function(config){V.showException('涓嶆敮鎸佺殑鍔熻兘');};
	};
		baseConfig:{
			converts:{
				appSetting:'VJ.config.appSettingsConfigConvert',
				middler:'VJ.middler.middlerConfigConvert',
				ni:'VJ.io.ni.niConfigConvert'
			}
		},
		dictionaryConfigResource:function(idic){
			var _this = this;
			(function(){
				_this.idic = idic;
				VJ.inhert(VJ.config.aconfigResource,this,[]);
				//todo 需要设置base对象
			})();
			_this.load = function(){
				
			}
		},
		//适配器对象
		adapter:function(){
			var _this = this;
			(function(){
				_this.key = "";
			})();
			//todo
			_this.fill = function(manager){
				var value = manager.resource.load();
				if(typeof(value) == 'string'){				
					value = eval('('+value+')');
				}
				for(key in value){
					manager.getConfig(key).getValue(
				}
			};
			_this.update = function(manager){};
		},
		//适配器实例
		adapterInstance:function(){
			if(VJ.isEnable(VJ.config._adapterinstance){
				VJ.config._adapterinstance = new VJ.config.adapter();
			}
			return VJ.config._adapterinstance;
		},
		//配置管理器
		configManager:function(idic,parent,resource){
			var _this = this;
			(function(){
				_this.idic = VJ.getValue(idic,{});
				_this.parent = parent;
				_this.resource = source;
				_this.adapter = VJ.config.adapterInstance();
				_this.adapter.fill(_this);			
			})();
		},
		//工厂
		configManagerFactory:{
			getApplicationConfigManager:function(){},
			getConfigManagerFromFile:function(path,baseManager){},
			getBaseConfigManager:function(){
				return new VJ.config.configManager({},null,new VJ.config.dictionaryConfigResource(VJ.config.baseConfig));
			}
		}
	};
})(VJ,jQuery);
