span.p_pagi_buttons {
    float: right;
    text-align: center;
    padding: 1rem;
}

    span.p_pagi_buttons span {
        margin: 0.2rem 0.5rem;
    }

    span.p_pagi_buttons input {
        width: 3rem;
    }

    span.p_pagi_buttons span.p_pagi_go {
        background: #eee;
        border: solid 1px #eee;
        box-shadow: 0.3rem 0.1rem #999;
        border-radius: 5px;
        padding: 2px 4px;
        cursor: pointer;
    }

span.p_pagi_first {
    cursor: pointer;
}

span.p_pagi_last {
    cursor: pointer;
}

span.p_pagi_pre {
    cursor: pointer;
}

span.p_pagi_next {
    cursor: pointer;
}
